<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @MeditateBook.Resources.Views.Shared._Layout.Title</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/bulma.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                @Html.ActionLink(MeditateBook.Resources.Views.Shared._Layout.Title, "Index", "Home", new { area = "" }, new { @class = "nav-item" })
                @Html.ActionLink(MeditateBook.Resources.Views.Shared._Layout.Home, "Index", "Home", null, new { @class = "nav-item" })
                @Html.ActionLink(MeditateBook.Resources.Views.Shared._Layout.Articles, "Index", "Articles", null, new { @class = "nav-item" })
                @Html.ActionLink(MeditateBook.Resources.Views.Shared._Layout.Messages, "Index", "Message", null, new { @class = "nav-item" })
                <!--@Html.ActionLink("Ajouter Article", "EditArticle", "EditArticle", null, new { @class = "nav-item" })
            -->
            </div>
            <div class="nav-center">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "nav-item" }))
                {
                    @Html.TextBox("searchString")
                    <button type="submit" name="search" class="button is-primary">Chercher</button>
                }
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MeditateBook</p>
            @Html.Partial("_SelectLanguage")
        </footer>
    </div>
    <script src="~/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
