@model MeditateBook.Models.ChangePasswordModel

<section class="section">
    <div class="columns">
        <!--<div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li>@Html.ActionLink(MeditateBook.Resources.Views.Manage._Manage.ManageUsers, "ManageUsers", "Manage")</li>
                    <li>@Html.ActionLink(MeditateBook.Resources.Views.Manage._Manage.ManageTranslations, "ManageTranslations", "Manage")</li>
                </ul>
            </aside>
        </div>-->

        <div class="column">
            <section class="section">
                <div class="container">
                    <h1 class="title">@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.ChangePassword)</h1>

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, MeditateBook.Resources.Views.Manage._Manage.OldPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, MeditateBook.Resources.Views.Manage._Manage.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmNewPassword, MeditateBook.Resources.Views.Manage._Manage.ConfirmNewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Change" class="btn btn-default" />
                            </div>
                        </div>
                    }

                </div>
            </section>
        </div>
    </div>
</section>