@model MeditateBook.Models.ProfileViewModel


<div class="columns">
    <div class="column is-3">
        <aside class="menu">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li>@Html.ActionLink(MeditateBook.Resources.Views.Manage._Manage.ChangePassword, "ChangePassword", "Manage")</li>
            </ul>
            @if (Model.User.Role >= MeditateBook.BusinessManagement.UserRoles.Roles.Admin)
            {
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li><a>@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.ManageUsers)</a></li>
                </ul>
            }
        </aside>
    </div>

    <div class="column">
        <section class="section">
            <div class="container">
                <h1 class="title">@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Informations)</h1>

                <p>@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Firstname) : @Model.User.Firstname</p>
                <p>@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Lastname) : @Model.User.Lastname</p>
                <p>@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Role) : @Model.User.Role</p>
            </div>
        </section>
    </div>
</div>