@model MeditateBook.Models.ManageTranslationsModel

<section class="section">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li>@Html.ActionLink(MeditateBook.Resources.Views.Manage._Manage.ManageUsers, "ManageUsers", "Manage")</li>
                    <li>@Html.ActionLink(MeditateBook.Resources.Views.Manage._Manage.ManageTranslations, "ManageTranslations", "Manage", new { @class = "is-active" })</li>
                </ul>
            </aside>
        </div>

        <div class="column">
            <section class="section">
                <div class="container">
                    <h1 class="title">
                        @MeditateBook.Resources.Views.Manage._Manage.noTransTitle
                    </h1>
                    @if (Model.missingTransArticles.Count != 0)
                        {
                        <table>
                            <tr>
                                <th>
                                    @MeditateBook.Resources.Views.Articles._Articles.Title
                                </th>
                                <th>
                                    @MeditateBook.Resources.Views.Manage._Manage.missingLang
                                </th>
                            </tr>
                            @foreach (var item in Model.missingTransArticles)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Article", "Articles", new { id = item.Item1.Id })">@item.Item1.Title</a></td>
                                    <td>@foreach (var lang in item.Item2)
                                    {
                                        if (!lang.Equals(item.Item2.Last()))
                                        {
                                            <span>@lang.Name - </span>
                                        }
                                        else
                                        {
                                            <span>@lang.Name</span>
                                        }


                                    }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <span>@MeditateBook.Resources.Views.Manage._Manage.noMissingLabel</span>
                    }
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <h1 class="title">@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.ManageTranslations)</h1>

                    <table>
                        <tr>
                            <th>
                                @Html.Raw(MeditateBook.Resources.Views.Articles._Articles.Title)
                            </th>
                            <th>
                                @Html.Raw(MeditateBook.Resources.Views.Manage._Manage.TranslationLanguage)
                            </th>
                            <th></th>
                        </tr>


                        @foreach (var item in Model.Translations)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdArticle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdLanguage)
                                </td>
                                <td>
                                    @Html.ActionLink("Validate", "ValidateTrad", new { id = item.Id })  |
                                    @Html.ActionLink("Show", "ShowTrad", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "DeleteTrad", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </section>
        </div>
    </div>
</section>