@model List<MeditateBook.DBO.Message>
@{ 
    MeditateBook.DBO.User user = (MeditateBook.DBO.User)Session["User"];
    long friend_id = Model.First().IdReceiver != user.Id ? Model.First().IdReceiver : Model.First().IdSender;
}
<h2>@MeditateBook.Resources.Views.Message.Conversation.title_label @(user.Firstname + " " + user.Lastname)</h2>
<h1>@ViewBag.Error</h1>
<section class="section">
    @foreach (MeditateBook.DBO.Message msg in Model)
    {
        if (msg.IdReceiver == user.Id)
        {
            // A GAUCHE
            <div style="width:inherit; text-align:left">@msg.Content     @msg.Date.ToShortDateString()</div>
        }
        else
        {
            <div style="width:inherit; text-align:right; background-color: lightgreen">@msg.Content     @msg.Date.ToShortDateString()</div>
        }
    }
</section>
<div>
    <form action="@Url.Action("Conversation", "Message", new { friend_id = friend_id })" method="post">
        <input type="text" name="Content"/>
        <input type="submit" value="@MeditateBook.Resources.Views.Message.Conversation.send_button" />
    </form>
</div>