@model MeditateBook.Models.ArticleViewModel
@{
    ViewBag.Title = MeditateBook.Resources.Views.Shared._Layout.Articles;
}

<section class="section">

    <h2 class="title">@Html.Raw(Model.Article.Title)</h2>
    <div class="card" style="background-color:gainsboro">
        @if (Model.Image != null)
        {
            <div class="card-image">
                <figure class="image">
                    <img src="@Url.Content("/images/article/" + @Model.Image.Name)" alt="@Model.Image.Name">
                </figure>
            </div>
        }
        @if (Model.Translation == null)
        {
            <div class="card-content">
                <div class="content">
                    @Html.Raw(Model.Article.Content)
                    <br>
                    <small>@Html.Raw(Model.Article.CreatedDate.ToShortDateString()) @MeditateBook.Resources.Views.Articles._Articles.by @Html.ActionLink(Model.User.Firstname + " " + Model.User.Lastname, "Index", "Profile", new { id = Model.Article.IdCreator }, null)</small>
                </div>
            </div>
            if (Request.IsAuthenticated && Session["User"] != null && ((MeditateBook.DBO.User)Session["User"]).Role >= MeditateBook.BusinessManagement.UserRoles.Roles.Translator)
            {
            <footer class="card-footer">
                @Html.ActionLink(MeditateBook.Resources.Views.Articles._TradArticle.AddTraduction, "EditTraduction", new { id = Model.Article.Id }, null)
            </footer>
            }
        }
        else
        {
            <div class="card-content">
                <div class="content">
                    @Html.Raw(Model.Translation.Content)
                    <br>
                    <small>@Html.Raw(Model.Article.CreatedDate.ToShortDateString()) @MeditateBook.Resources.Views.Articles._Articles.TranslatedBy @Html.ActionLink(Model.Translator.Firstname + " " + Model.Translator.Lastname, "Index", "Profile", new { id = Model.Translator.Id }, null)</small>
                </div>
            </div>
            if (Request.IsAuthenticated && Session["User"] != null && ((MeditateBook.DBO.User)Session["User"]).Role >= MeditateBook.BusinessManagement.UserRoles.Roles.Translator)
            {
                <footer class="card-footer">
                    @Html.ActionLink(MeditateBook.Resources.Views.Articles._TradArticle.Add, "EditTraduction", new { id = Model.Article.Id }, null)

                    @foreach (var Attach in Model.listAttach)
                    {
                        @Html.ActionLink(MeditateBook.Resources.Views.Articles._Articles.Download, "DownloadAttach", new { id = Attach.Id }, null)
                    }
                </footer>
            }
        }
    </div>
</section>