@model MeditateBook.Models.ArticleViewModel
@{
    ViewBag.Title = MeditateBook.Resources.Views.Shared._Layout.Articles;
}

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-11">
                <h4 class="title">@Html.Raw(Model.Article.Title)</h4>
            </div>
            <div class="col-md-1">
                (@Html.Raw(Model.Article.CreatedDate.ToShortDateString()))
                @Html.ActionLink(Model.User.Firstname + " " + Model.User.Lastname, "Index", "Profile", new { id = Model.Article.IdCreator }, null)
            </div>
            @Html.Raw(Model.Article.Content)
            <form>
                @Html.ActionLink("Ajouter une traduction", "EditTraduction", new { id = Model.Article.Id }, null)
            </form>
        </div>
        

    </div>