@model MeditateBook.Models.ArticleViewModel
@{
    ViewBag.Title = MeditateBook.Resources.Views.Shared._Layout.Articles;
}

<section class="section">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                @Html.Raw(Model.Article.Title)
            </p>
            <a class="card-header-icon">
                <span class="icon">
                    <i class="fa fa-angle-down"></i>
                </span>
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                @Html.Raw(Model.Article.Content)
                <br>
                <small>@Html.Raw(Model.Article.CreatedDate.ToShortDateString()) par @Html.ActionLink(Model.User.Firstname + " " + Model.User.Lastname, "Index", "Profile", new { id = Model.Article.IdCreator }, null)</small>
            </div>
        </div>
        <footer class="card-footer">
            @Html.ActionLink("Ajouter une traduction", "EditTraduction", new { id = Model.Article.Id }, null)
        </footer>
    </div>
</section>