@model MeditateBook.Models.TradArticleModel

<!DOCTYPE html>

<section class="section">
    <h4 class="title"> @Html.Raw(MeditateBook.Resources.Views.Articles._TradArticle.Title) : @Html.Raw(Model.titleOriginal)</h4>
    <div class="col-md-6">
        <section id="EditArticleForm">
            @using (Html.BeginForm("EditTraduction", "Articles", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Content, new { @class = "ckeditor", @id = "content" })
                    </div>
                </div>
                @Html.TextAreaFor(m => m.IdOriginal, new { @class = "col-md-2 control-label hidden" })
                @Html.TextAreaFor(m => m.contentOriginal, new { @class = "col-md-2 control-label hidden" })
                @Html.TextAreaFor(m => m.titleOriginal, new { @class = "col-md-2 control-label hidden" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@MeditateBook.Resources.Views.Articles._Articles.Submit" class="btn btn-default" />
                        @Html.DropDownListFor(m => m.Langue, new SelectList(Model.listLangues, "id", "Name"))
                    </div>
                </div>
            }
        </section>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-content">
                    <h2 class="title">@Html.Raw(MeditateBook.Resources.Views.Articles._TradArticle.OriginalContent)</h2>
                    @Html.Raw(Model.contentOriginal)
                </div>
            </div>
        </div>
    </div>
</section>