@using MeditateBook.Models
@model EditArticleModel
@{
    ViewBag.Title = "Ajouter un Article";
}
<h4 class="title">@ViewBag.Title.</h4>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section id="EditArticleForm">
            @using (Html.BeginForm("EditArticle", "Articles", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label(@MeditateBook.Resources.Views.Articles._Articles.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(@MeditateBook.Resources.Views.Articles._Articles.Content, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10"> 
                        @Html.TextAreaFor(m => m.Content, new { @class = "ckeditor", @id = "content" })
                        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label(@MeditateBook.Resources.Views.Articles._Articles.AddImage, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @*<input type="button" id="loadFile" value="@MeditateBook.Resources.Views.Articles._Articles.LoadImage" onclick="document.getElementById('file').click();" />*@
                            <input type="file" @*style="display:none;"*@ id="file" name="file" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@MeditateBook.Resources.Views.Articles._Articles.Submit" class="btn btn-default" />
                        </div>
                    </div>
                
                </div>
            }
                <div class="col-md-6">
                        @using (Html.BeginForm("AddAttach", "Articles", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.Label(@MeditateBook.Resources.Views.Articles._Articles.File, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @*<input type="button" id="loadFile" value="@MeditateBook.Resources.Views.Articles._Articles.LoadFile" onclick="document.getElementById('file').click();" />*@
                                    <input type="file" @*style="display:none;"*@ id="file" name="file" />
                                </div>
                            </div>
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@MeditateBook.Resources.Views.Articles._Articles.AddFile" class="btn btn-default" />
                            </div>
                        }
                    @if (Session["ListAttach0"] != null)
                    {
                        var i = 0;
                        while (Session["ListAttach" + i] != null)
                        {
                            <label class="col-md-2 control-label" id="LabelAttach" runat="server">@Session["ListAttach" + i]</label>
                            i++;
                        }
                    }
                 </div>
        </section>
    </div>
    <div class="col-md-2">
        <!--<section id="socialLoginForm">
            @*Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
        </section> -->
    </div>
</div>


