@model MeditateBook.Models.TradArticleModel
@{
    ViewBag.Title = MeditateBook.Resources.Views.Articles._TradArticle.Title;
}

<!DOCTYPE html>

<h4 class="title">@ViewBag.Title.</h4>
    <div class="col-md-6">
        <section id="EditArticleForm">
            @using (Html.BeginForm("EditTraduction", "Articles", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Content, new { @class = "ckeditor", @id = "content" })
                        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.TextAreaFor(m => m.IdOriginal, new { @class = "col-md-2 control-label hidden" })
                @Html.TextAreaFor(m => m.contentOriginal, new { @class = "col-md-2 control-label hidden" })
                @Html.TextAreaFor(m => m.titleOriginal, new { @class = "col-md-2 control-label hidden" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Soumettre" class="btn btn-default" />
                        @Html.DropDownListFor(m => m.Langue, new SelectList(Model.listLangues, "id", "Name"))
                    </div>
                </div>
            }
        </section>
    </div>

<div class="row">
    <div class="col-md-6">
        <h2>@Html.Raw(Model.titleOriginal) </h2>

        @Html.Raw(Model.contentOriginal)
    </div>
</div>
