@model MeditateBook.Models.ProfileViewModel


<section class="section">
    <div class="columns">
    
        <div class="column is-3">
        @if (Model.User.Id == Model.idCurrentUser)
        {
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                    <ul class="menu-list">
                        <li>@Html.ActionLink(MeditateBook.Resources.Views.Manage._Manage.ChangePassword, "ChangePassword", "Manage")</li>
                    </ul>
            </aside>
        }
        </div>
        <div class="column">
            <section class="section">
                <div class="container">
                    <h1 class="title">@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Informations)</h1>

                    <p>@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Firstname) : @Model.User.Firstname</p>
                    <p>@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Lastname) : @Model.User.Lastname</p>
                    <p>@Html.Raw(MeditateBook.Resources.Views.Manage._Manage.Role) : @Model.User.Role</p>
                    @if (Request.IsAuthenticated && Session["User"] != null && ((MeditateBook.DBO.User)Session["User"]).Id != Model.User.Id)
                    {
                        <button class="button is-info">@Html.ActionLink(MeditateBook.Resources.Views.Shared._Layout.SendMessage, "Conversation", "Message", new { friend_id = Model.User.Id }, null)</button>
                    }
                </div>
            </section>
        </div>
    </div>
</section>